<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>signup</title>
</head>

<body>
	<form enctype='application/json' action="/signupsuccess" method="post">
		Username: <input type="text" name="username"><br>
		Password: <input type="text" name="password"><br>
		<input type="submit" value="sign up">
	</form>
</body>
</html>