<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>signup</title>
    <link rel="stylesheet" type="text/css" href="upload.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
	

	<div id="header"><p id="logo">JSChallenger</p></div>

	<div id="content">
		<div class="preloader-wrapper small active">
		    <div class="spinner-layer spinner-green-only">
		    	<div class="circle-clipper left">
			        <div class="circle"></div>
			      </div><div class="gap-patch">
			        <div class="circle"></div>
			      </div><div class="circle-clipper right">
			        <div class="circle"></div>
			      </div>
	    </div>
	  </div>
	</div>



</body>
</html>