<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>signup</title>
    <link rel="stylesheet" type="text/css" href="signup.css">
</head>

<body>
	

	<div id="header"><p id="logo">JSChallenger</p></div>

	<div id="content">
			<form id="signup" enctype='application/json' action="/signupsuccess" method="post">
				<div id="sign-in">Sign Up</div>
				<p>{{status}}</p>
				<input class="field-forms" type="text" id="username" name="username" placeholder="Username"><br>
				<input class="field-forms" type="password" id="password" name="password" placeholder="Password"><br>
				<input class="credential-buttons" type="submit" value="Signup">
			</form>
	</div>

</body>
</html>