<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>signup</title>
    <link rel="stylesheet" type="text/css" href="upload.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
	

	<div id="header"><p id="logo">JSChallenger</p>
			<form method="get" action='/logout'>
			<button id="logout" type="submit">Logout</button>
		</form></div>

	<div id="content">
		<div id="result-box">
			<p>Your score: {{answers}}</p>
			<img src="https://media.giphy.com/media/d31w24psGYeekCZy/giphy.gif">
		</div>
	</div>



</body>
</html>